### Problem 17: Number Letter Counts
<p>If the numbers $1$ to $5$ are written out in words: one, two, three, four, five, then there are $3 + 3 + 5 + 4 + 4 = 19$ letters used in total.</p>
<p>If all the numbers from $1$ to $1000$ (one thousand) inclusive were written out in words, how many letters would be used? </p>
<br><p class="note"><b>NOTE:</b> Do not count spaces or hyphens. For example, $342$ (three hundred and forty-two) contains $23$ letters and $115$ (one hundred and fifteen) contains $20$ letters. The use of "and" when writing out numbers is in compliance with British usage.</p>

In [38]:
import time

In [39]:
hundThous = {'1000':'thousand','100':'hundred'}
tees = {'2': 'twenty', '3': 'thirty', '4': 'forty', '5': 'fifty', '6': 'sixty', '7': 'seventy', '8': 'eighty', '9': 'ninety'}
tens = {'10': 'ten', '11': 'eleven', '12': 'twelve', '13': 'thirteen', '14': 'fourteen', '15': 'fifteen', '16': 'sixteen', '17': 'seventeen', '18': 'eighteen', '19': 'nineteen'}
ones = {'1': 'one', '2': 'two', '3': 'three', '4': 'four', '5': 'five', '6': 'six', '7': 'seven', '8': 'eight', '9': 'nine'}

In [40]:
def numberToWord(n):
    n_str = str(n).zfill(4)
    result_string = ''
    if n_str[0]!='0':
        result_string += f' {ones[n_str[0]]} thousand'
    
    if n_str[1]!='0':
        result_string += f' {ones[n_str[1]]} hundred'
    
        if n_str[2]!='0' or n_str[3]!='0':
            result_string += f' and'
        
    if n_str[2] not in ['0','1']:
        result_string += f' {tees[n_str[2]]}'
        
    elif n_str[2] == '1':
        result_string += f' {tens[n_str[2:]]}'
        return result_string.strip()
    
    if n_str[3]!='0':
        result_string += f' {ones[n_str[3]]}'
    
    return result_string.strip()

In [41]:
def pe_17():
    result = 0
    for i in range(1,1001):
        result += len(numberToWord(i).replace(' ',''))
    return result

In [42]:
time_start = time.perf_counter()
res = pe_17()
time_end = time.perf_counter()
time_taken = time_end - time_start
print(f'The answer is : {res:,}\nTime taken : {time_taken:6f}s')

The answer is : 21,124
Time taken : 0.001917s